

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 200;
    src: url('../resources/fonts/NotoSansCJKkr-Light.woff2') format('woff2'), url('../resources/fonts/NotoSansCJKkr-Light.woff') format('woff'),  url('../resources/fonts/NotoSansCJKkr-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('../resources/fonts/NotoSansCJKkr-DemiLight.woff2') format('woff2'), url('../resources/fonts/NotoSansCJKkr-DemiLight.woff') format('woff'),  url('../resources/fonts/NotoSansCJKkr-DemiLight.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../resources/fonts/NotoSansCJKkr-Regular.woff2') format('woff2'), url('../resources/fonts/NotoSansCJKkr-Regular.woff') format('woff'),  url('../resources/fonts/NotoSansCJKkr-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('../resources/fonts/NotoSansCJKkr-Medium.woff2') format('woff2'), url('../resources/fonts/NotoSansCJKkr-Medium.woff') format('woff'),  url('../resources/fonts/NotoSansCJKkr-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('../resources/fonts/Jost-VariableFont_wght.ttf') format('truetype');
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../resources/fonts/Jost-Medium.ttf') format('truetype');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

* {margin:0px; padding:0px;box-sizing: border-box; font-weight: 400; color: #272421;  }
html, body{width: 100%; height: 100%;}
body{font-family: 'Noto Sans KR', 'Malgun Gothic', 'Apple SD Gothic Neo', 'KBFGDisplay','맑은 고딕', sans-serif;}
ul,ol,li {list-style:none;}
a {text-decoration:none;}
img {vertical-align:top;}
button, input{outline: none; background: none; border: none;}

::-webkit-scrollbar{ width: 6px; }
::-webkit-scrollbar-track{ background-color: transparent;}
::-webkit-scrollbar-thumb {border-radius: 3px;background-color: #23d5ab;}
::-webkit-scrollbar-button { width: 0; height: 0;}

body {
	-webkit-text-size-adjust: none;
	font-weight: 400;
	line-height: 1.8;
	font-size: 17px;
	letter-spacing: -0.8px;
	color: #272421
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, figure, figcaption {
  margin: 0;
  padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit
}

fieldset, img {
  border: 0 none;
  vertical-align: middle
}

dl, ul, ol, menu, li {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

input, select, textarea, button {
  font-size: 100%;
  vertical-align: middle;
  color: inherit;
  caret-color: #272421;

}

input {

  &:focus-visible {
    outline-color: #272421;
    outline-style: solid;
    outline-width: 1px;
  }

  &:read-only, &:disabled{
    //border: 1px solid #D9D9D9 !important;

    .select-date-comp__pickers__input-wrap &{
      border: none;
    }
  }

  &::placeholder{
    color: #858585 !important;
  }
}


button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  position: relative;

  span {
    position: relative;
  }
}