@charset "UTF-8";
.stars {
  width: 100%;
  height: 100vh;
  position: fixed;
}
.stars__01 {
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 100%;
  background: transparent;
  box-shadow: 794px 1929px #FFF, 1518px 1139px #FFF, 927px 45px #FFF, 1425px 219px #FFF, 140px 1694px #FFF, 1298px 1432px #FFF, 1282px 1291px #FFF, 980px 807px #FFF, 1987px 1923px #FFF, 616px 42px #FFF, 1814px 213px #FFF, 169px 42px #FFF, 561px 1642px #FFF, 640px 1810px #FFF, 908px 103px #FFF, 609px 1634px #FFF, 1847px 429px #FFF, 456px 380px #FFF, 704px 754px #FFF, 1278px 1376px #FFF, 296px 262px #FFF, 1855px 1828px #FFF, 1446px 96px #FFF, 633px 832px #FFF, 103px 1559px #FFF, 655px 53px #FFF, 1516px 505px #FFF, 567px 1759px #FFF, 1990px 1107px #FFF, 827px 1423px #FFF, 977px 819px #FFF, 149px 1884px #FFF, 1098px 43px #FFF, 135px 946px #FFF, 1993px 1626px #FFF, 858px 349px #FFF, 676px 905px #FFF, 1891px 1381px #FFF, 1368px 652px #FFF, 429px 1855px #FFF, 1345px 1820px #FFF, 1274px 214px #FFF, 215px 114px #FFF, 1613px 845px #FFF, 131px 79px #FFF, 1700px 1237px #FFF, 1142px 613px #FFF, 980px 33px #FFF, 65px 1986px #FFF, 824px 1368px #FFF, 1175px 1749px #FFF, 215px 523px #FFF, 1896px 1398px #FFF, 360px 139px #FFF, 1600px 14px #FFF, 402px 1725px #FFF, 1720px 314px #FFF, 985px 241px #FFF, 1837px 1152px #FFF, 820px 297px #FFF, 421px 1788px #FFF, 1013px 975px #FFF, 921px 1427px #FFF, 512px 735px #FFF, 823px 487px #FFF, 1722px 534px #FFF, 942px 32px #FFF, 1389px 875px #FFF, 1687px 691px #FFF, 122px 845px #FFF, 88px 1992px #FFF, 225px 1703px #FFF, 1133px 1147px #FFF, 995px 1605px #FFF, 1561px 1014px #FFF, 1854px 371px #FFF, 79px 981px #FFF, 335px 789px #FFF, 759px 727px #FFF, 1px 145px #FFF, 1309px 1600px #FFF, 1253px 1421px #FFF, 1293px 1050px #FFF, 1927px 1286px #FFF, 1267px 908px #FFF, 1156px 1036px #FFF, 1482px 1479px #FFF, 1593px 630px #FFF, 139px 1166px #FFF, 314px 1007px #FFF, 633px 101px #FFF, 661px 44px #FFF, 1759px 611px #FFF, 699px 1423px #FFF, 346px 1690px #FFF, 768px 235px #FFF, 1169px 581px #FFF, 1468px 207px #FFF, 1694px 412px #FFF, 1650px 282px #FFF, 165px 591px #FFF, 1090px 547px #FFF, 1990px 780px #FFF, 1889px 1667px #FFF, 1788px 366px #FFF, 377px 792px #FFF, 1214px 1364px #FFF, 429px 1726px #FFF, 1406px 1201px #FFF, 142px 1669px #FFF, 1696px 791px #FFF, 1379px 359px #FFF, 382px 1349px #FFF, 1393px 1871px #FFF, 112px 1053px #FFF, 1079px 1675px #FFF, 1907px 956px #FFF, 312px 639px #FFF, 324px 486px #FFF, 990px 768px #FFF, 1027px 1954px #FFF, 558px 776px #FFF, 1356px 825px #FFF, 1457px 1058px #FFF, 1606px 92px #FFF, 279px 1644px #FFF, 53px 1181px #FFF, 536px 133px #FFF, 171px 1682px #FFF, 551px 1732px #FFF, 675px 381px #FFF, 1909px 557px #FFF, 1957px 435px #FFF, 161px 1752px #FFF, 702px 738px #FFF, 319px 729px #FFF, 424px 1859px #FFF, 1827px 354px #FFF, 381px 415px #FFF, 1352px 959px #FFF, 1571px 1335px #FFF, 1801px 196px #FFF, 1914px 1439px #FFF, 1797px 1740px #FFF, 1722px 1206px #FFF, 690px 721px #FFF, 634px 1986px #FFF, 621px 1531px #FFF, 1401px 1435px #FFF, 497px 1895px #FFF, 1596px 1492px #FFF, 742px 387px #FFF, 51px 1841px #FFF, 882px 1208px #FFF, 1133px 1083px #FFF, 59px 420px #FFF, 1372px 1094px #FFF, 1394px 1945px #FFF, 534px 1275px #FFF, 83px 972px #FFF, 726px 575px #FFF, 1579px 1022px #FFF, 1104px 1857px #FFF, 1707px 969px #FFF, 1955px 1101px #FFF, 893px 708px #FFF, 1485px 1980px #FFF, 295px 995px #FFF, 1660px 151px #FFF, 1177px 1423px #FFF, 847px 1761px #FFF, 560px 64px #FFF, 1806px 1229px #FFF, 722px 1436px #FFF, 1428px 1735px #FFF, 872px 189px #FFF, 773px 123px #FFF, 1754px 1554px #FFF, 1960px 1992px #FFF, 491px 1632px #FFF, 1123px 379px #FFF, 1986px 30px #FFF, 1901px 1701px #FFF, 1961px 1982px #FFF, 1985px 1613px #FFF, 1556px 1897px #FFF, 1699px 494px #FFF, 48px 1265px #FFF, 1912px 844px #FFF, 393px 798px #FFF, 1179px 572px #FFF, 1266px 1690px #FFF, 1260px 1886px #FFF, 1954px 1965px #FFF, 144px 1632px #FFF, 443px 482px #FFF, 1857px 1725px #FFF, 1157px 432px #FFF, 460px 1368px #FFF, 1111px 1863px #FFF, 1663px 1183px #FFF, 1225px 166px #FFF, 1015px 208px #FFF, 1294px 455px #FFF, 1840px 1195px #FFF, 1967px 455px #FFF, 1007px 1743px #FFF, 1823px 1796px #FFF, 225px 777px #FFF, 1124px 1155px #FFF, 1524px 197px #FFF, 1841px 831px #FFF, 1281px 399px #FFF, 648px 1505px #FFF, 1940px 139px #FFF, 1734px 1116px #FFF, 358px 1621px #FFF, 314px 1894px #FFF, 72px 976px #FFF, 1354px 1860px #FFF, 342px 152px #FFF, 936px 1374px #FFF, 577px 1676px #FFF, 923px 679px #FFF, 1644px 1234px #FFF, 821px 239px #FFF, 839px 1057px #FFF, 1623px 830px #FFF, 1427px 1979px #FFF, 963px 1175px #FFF, 157px 1427px #FFF, 1652px 216px #FFF, 880px 83px #FFF, 1886px 611px #FFF, 1814px 746px #FFF, 1226px 1586px #FFF, 1701px 83px #FFF, 1130px 860px #FFF, 578px 1950px #FFF, 1779px 1944px #FFF, 1672px 1632px #FFF, 1428px 360px #FFF, 4px 976px #FFF, 1553px 1835px #FFF, 245px 996px #FFF, 1646px 385px #FFF, 222px 1485px #FFF, 1428px 1205px #FFF, 1080px 1339px #FFF, 1922px 342px #FFF, 645px 1163px #FFF, 295px 1406px #FFF, 1742px 402px #FFF, 436px 784px #FFF, 1048px 1061px #FFF, 1489px 1137px #FFF, 547px 721px #FFF, 729px 1743px #FFF, 601px 172px #FFF, 1642px 1403px #FFF, 696px 1704px #FFF, 1870px 1733px #FFF, 1110px 1183px #FFF, 1100px 1841px #FFF, 699px 822px #FFF, 857px 891px #FFF, 156px 413px #FFF, 638px 1142px #FFF, 1412px 832px #FFF, 1839px 1643px #FFF, 1311px 693px #FFF, 889px 501px #FFF, 1157px 101px #FFF, 674px 79px #FFF, 1018px 900px #FFF, 1123px 1283px #FFF, 1258px 59px #FFF, 841px 1380px #FFF, 648px 971px #FFF, 297px 52px #FFF, 391px 1646px #FFF, 1666px 468px #FFF, 1530px 486px #FFF, 85px 991px #FFF, 732px 1183px #FFF, 619px 571px #FFF, 189px 1546px #FFF, 1969px 407px #FFF, 403px 602px #FFF, 1657px 705px #FFF, 1035px 1193px #FFF, 1327px 179px #FFF, 410px 1028px #FFF, 808px 157px #FFF, 743px 332px #FFF, 356px 361px #FFF, 1599px 660px #FFF, 1865px 272px #FFF, 1739px 151px #FFF, 1701px 1474px #FFF, 219px 1389px #FFF, 976px 393px #FFF, 927px 745px #FFF, 1261px 231px #FFF, 1122px 689px #FFF, 1887px 1874px #FFF, 60px 1725px #FFF, 1947px 1321px #FFF, 1166px 663px #FFF, 1628px 961px #FFF, 297px 1139px #FFF, 1174px 461px #FFF, 1879px 733px #FFF, 1052px 503px #FFF, 1705px 173px #FFF, 671px 1786px #FFF, 530px 1289px #FFF, 1758px 188px #FFF, 1179px 113px #FFF, 1447px 52px #FFF, 1673px 1160px #FFF, 99px 165px #FFF, 54px 278px #FFF, 147px 1090px #FFF, 546px 713px #FFF, 1074px 383px #FFF, 1583px 1249px #FFF, 545px 1177px #FFF, 575px 1832px #FFF, 774px 750px #FFF, 727px 1853px #FFF, 118px 1734px #FFF, 1665px 1225px #FFF, 1597px 1344px #FFF, 410px 1751px #FFF, 1641px 177px #FFF, 1204px 1722px #FFF, 1606px 1293px #FFF, 610px 687px #FFF, 1850px 1209px #FFF, 24px 1209px #FFF, 422px 1235px #FFF, 1909px 814px #FFF, 844px 45px #FFF, 1190px 805px #FFF, 1291px 753px #FFF, 1639px 151px #FFF, 1558px 1615px #FFF, 1419px 234px #FFF, 1466px 1803px #FFF, 611px 1685px #FFF, 1399px 739px #FFF, 1583px 727px #FFF, 576px 1102px #FFF, 1269px 1557px #FFF, 370px 1509px #FFF, 1466px 94px #FFF, 1216px 776px #FFF, 1849px 991px #FFF, 1922px 1319px #FFF, 1778px 170px #FFF, 660px 579px #FFF, 654px 1326px #FFF, 900px 549px #FFF, 1153px 890px #FFF, 152px 499px #FFF, 1257px 198px #FFF, 1514px 860px #FFF, 83px 565px #FFF, 1871px 1141px #FFF, 1591px 7px #FFF, 478px 1610px #FFF, 929px 74px #FFF, 235px 557px #FFF, 29px 25px #FFF, 1649px 643px #FFF, 129px 283px #FFF, 1807px 298px #FFF, 1756px 692px #FFF, 150px 1461px #FFF, 1456px 441px #FFF, 1638px 1887px #FFF, 411px 175px #FFF, 1386px 1017px #FFF, 1193px 440px #FFF, 1063px 1769px #FFF, 1249px 957px #FFF, 1605px 1692px #FFF, 1572px 807px #FFF, 781px 98px #FFF, 585px 38px #FFF, 1697px 422px #FFF, 1660px 1894px #FFF, 732px 9px #FFF, 1584px 1942px #FFF, 631px 403px #FFF, 1274px 622px #FFF, 462px 424px #FFF, 1519px 669px #FFF, 28px 1362px #FFF, 1464px 476px #FFF, 1906px 147px #FFF, 1793px 261px #FFF, 189px 1049px #FFF, 352px 419px #FFF, 76px 1671px #FFF, 1419px 588px #FFF, 1762px 161px #FFF, 1758px 830px #FFF, 758px 169px #FFF, 664px 1511px #FFF, 1650px 1291px #FFF, 1364px 794px #FFF, 1125px 507px #FFF, 1308px 758px #FFF, 535px 1326px #FFF, 1176px 174px #FFF, 862px 5px #FFF, 1754px 990px #FFF, 1191px 791px #FFF, 1737px 500px #FFF, 213px 924px #FFF, 1537px 495px #FFF, 1079px 1405px #FFF, 1431px 1750px #FFF, 1718px 653px #FFF, 1369px 1487px #FFF, 1491px 1497px #FFF, 848px 1031px #FFF, 1968px 1220px #FFF, 674px 1885px #FFF, 1008px 991px #FFF, 1786px 351px #FFF, 359px 1677px #FFF, 1141px 1778px #FFF, 1911px 1631px #FFF, 1586px 1427px #FFF, 1252px 1277px #FFF, 1379px 830px #FFF, 308px 234px #FFF, 1536px 1726px #FFF, 958px 848px #FFF, 1449px 1671px #FFF, 296px 921px #FFF, 928px 1354px #FFF, 666px 1461px #FFF, 1874px 1682px #FFF, 1189px 1955px #FFF, 1116px 1324px #FFF, 1813px 735px #FFF, 1434px 685px #FFF, 655px 824px #FFF, 1972px 1341px #FFF, 218px 1403px #FFF, 181px 198px #FFF, 227px 1776px #FFF, 803px 499px #FFF, 1637px 1302px #FFF, 1205px 721px #FFF, 912px 613px #FFF, 1308px 1882px #FFF, 406px 67px #FFF, 1620px 579px #FFF, 1515px 1626px #FFF, 1297px 715px #FFF, 782px 1983px #FFF, 199px 95px #FFF, 1878px 1404px #FFF, 1812px 73px #FFF, 636px 1322px #FFF, 837px 1578px #FFF, 943px 552px #FFF, 1160px 1852px #FFF, 1495px 133px #FFF, 128px 1887px #FFF, 7px 1696px #FFF, 615px 130px #FFF, 1739px 630px #FFF, 1780px 1735px #FFF, 261px 1641px #FFF, 30px 375px #FFF, 581px 1184px #FFF, 1115px 1468px #FFF, 1895px 1072px #FFF, 515px 224px #FFF, 1218px 1616px #FFF, 25px 84px #FFF, 569px 170px #FFF, 158px 592px #FFF, 1331px 1816px #FFF, 1496px 1332px #FFF, 64px 1410px #FFF, 573px 185px #FFF, 406px 1164px #FFF, 485px 1132px #FFF, 872px 30px #FFF, 1475px 1195px #FFF, 1419px 1457px #FFF, 961px 1719px #FFF, 440px 147px #FFF, 557px 113px #FFF, 1809px 1281px #FFF, 395px 605px #FFF, 1435px 357px #FFF, 631px 472px #FFF, 1012px 1777px #FFF, 940px 1307px #FFF, 700px 463px #FFF, 1555px 1594px #FFF, 1368px 909px #FFF, 729px 1415px #FFF, 1105px 1136px #FFF, 1016px 962px #FFF, 1259px 1089px #FFF, 362px 1424px #FFF, 1279px 1819px #FFF, 666px 1182px #FFF, 214px 565px #FFF, 656px 530px #FFF, 1204px 54px #FFF, 386px 1717px #FFF, 817px 1982px #FFF, 1601px 889px #FFF, 1986px 446px #FFF, 580px 1911px #FFF, 816px 919px #FFF, 1175px 73px #FFF, 712px 761px #FFF, 664px 1858px #FFF, 438px 939px #FFF, 1523px 802px #FFF, 1765px 335px #FFF, 42px 1515px #FFF, 1916px 1400px #FFF, 1289px 743px #FFF, 1106px 784px #FFF, 1135px 895px #FFF, 1286px 1147px #FFF, 677px 894px #FFF, 1966px 1503px #FFF, 1100px 1485px #FFF, 1658px 453px #FFF, 1217px 875px #FFF, 267px 1209px #FFF, 193px 1001px #FFF, 1004px 798px #FFF, 806px 696px #FFF, 773px 172px #FFF, 1065px 1507px #FFF, 874px 1096px #FFF, 1867px 285px #FFF, 1224px 1924px #FFF, 1209px 75px #FFF, 1378px 145px #FFF, 1287px 1396px #FFF, 857px 228px #FFF, 460px 1394px #FFF, 1278px 1760px #FFF, 1012px 441px #FFF, 884px 801px #FFF, 28px 306px #FFF, 1911px 607px #FFF, 397px 458px #FFF, 1675px 399px #FFF, 1978px 1431px #FFF, 1424px 435px #FFF, 653px 1479px #FFF, 1774px 662px #FFF, 407px 840px #FFF, 1347px 911px #FFF, 1376px 28px #FFF, 66px 845px #FFF, 701px 1275px #FFF, 897px 1658px #FFF, 2px 663px #FFF, 1655px 68px #FFF, 1498px 59px #FFF, 1557px 1207px #FFF, 1151px 521px #FFF, 1622px 380px #FFF, 680px 1210px #FFF, 374px 608px #FFF, 1163px 1776px #FFF, 945px 567px #FFF, 1882px 127px #FFF, 64px 312px #FFF, 1126px 579px #FFF, 338px 816px #FFF, 1534px 831px #FFF, 395px 1244px #FFF, 162px 255px #FFF, 173px 1789px #FFF, 1298px 1587px #FFF, 1328px 521px #FFF, 1812px 1212px #FFF, 1384px 624px #FFF, 1128px 1119px #FFF, 511px 173px #FFF, 1538px 1465px #FFF, 1241px 352px #FFF, 1100px 771px #FFF, 985px 1490px #FFF, 126px 557px #FFF, 492px 1245px #FFF, 359px 10px #FFF, 1133px 1164px #FFF, 1342px 628px #FFF, 1309px 1588px #FFF, 1694px 793px #FFF, 1355px 516px #FFF, 1081px 263px #FFF, 974px 1153px #FFF, 61px 1588px #FFF, 695px 602px #FFF, 823px 34px #FFF, 154px 366px #FFF, 1754px 1249px #FFF, 1386px 513px #FFF, 138px 1515px #FFF, 955px 1818px #FFF, 1486px 668px #FFF, 1528px 151px #FFF, 1119px 1327px #FFF, 795px 279px #FFF, 175px 983px #FFF, 1831px 1858px #FFF, 547px 1483px #FFF, 1018px 563px #FFF, 807px 1386px #FFF, 431px 1868px #FFF, 1619px 352px #FFF, 1548px 1035px #FFF, 1290px 1254px #FFF, 1643px 1589px #FFF, 903px 1292px #FFF, 1880px 1346px #FFF, 310px 1895px #FFF, 1754px 1362px #FFF, 1925px 146px #FFF, 1946px 1954px #FFF, 1346px 460px #FFF, 1670px 623px #FFF, 1550px 112px #FFF, 124px 650px #FFF, 979px 791px #FFF, 577px 1900px #FFF, 220px 661px #FFF, 1502px 1434px #FFF, 1172px 1812px #FFF, 1386px 1207px #FFF, 1919px 1789px #FFF, 832px 1453px #FFF, 1418px 1482px #FFF, 847px 1240px #FFF, 1796px 1478px #FFF, 1214px 84px #FFF, 596px 1982px #FFF, 1906px 994px #FFF, 1528px 170px #FFF, 1096px 937px #FFF, 1157px 963px #FFF, 1543px 418px #FFF, 651px 1434px #FFF, 1540px 1598px #FFF, 860px 959px #FFF, 1838px 1582px #FFF, 825px 1275px #FFF, 79px 670px #FFF, 733px 288px #FFF, 497px 1466px #FFF, 1764px 1065px #FFF, 707px 1797px #FFF, 177px 1651px #FFF, 238px 1866px #FFF, 879px 780px #FFF, 1025px 907px #FFF, 1604px 554px #FFF, 931px 1198px #FFF, 1699px 1916px #FFF, 1387px 1781px #FFF, 602px 71px #FFF, 480px 883px #FFF, 289px 334px #FFF, 1709px 550px #FFF, 1200px 303px #FFF, 986px 691px #FFF, 1272px 713px #FFF, 69px 1672px #FFF, 1707px 1470px #FFF, 542px 355px #FFF, 1078px 932px #FFF, 445px 1133px #FFF, 579px 1751px #FFF, 1916px 419px #FFF, 592px 38px #FFF, 1715px 1378px #FFF, 1352px 1103px #FFF, 254px 410px #FFF, 735px 100px #FFF, 1070px 305px #FFF;
  animation: animStar 50s linear infinite;
}
.stars__01::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  border-radius: 100%;
  background: transparent;
  box-shadow: 794px 1929px #70D6BF, 1518px 1139px #70D6BF, 927px 45px #70D6BF, 1425px 219px #70D6BF, 140px 1694px #70D6BF, 1298px 1432px #70D6BF, 1282px 1291px #70D6BF, 980px 807px #70D6BF, 1987px 1923px #70D6BF, 616px 42px #70D6BF, 1814px 213px #70D6BF, 169px 42px #70D6BF, 561px 1642px #70D6BF, 640px 1810px #70D6BF, 908px 103px #70D6BF, 609px 1634px #70D6BF, 1847px 429px #70D6BF, 456px 380px #70D6BF, 704px 754px #70D6BF, 1278px 1376px #70D6BF, 296px 262px #70D6BF, 1855px 1828px #70D6BF, 1446px 96px #70D6BF, 633px 832px #70D6BF, 103px 1559px #70D6BF, 655px 53px #70D6BF, 1516px 505px #70D6BF, 567px 1759px #70D6BF, 1990px 1107px #70D6BF, 827px 1423px #70D6BF, 977px 819px #70D6BF, 149px 1884px #70D6BF, 1098px 43px #70D6BF, 135px 946px #70D6BF, 1993px 1626px #70D6BF, 858px 349px #70D6BF, 676px 905px #70D6BF, 1891px 1381px #FFF, 1368px 652px #FFF, 429px 1855px #FFF, 1345px 1820px #FFF, 1274px 214px #FFF, 215px 114px #FFF, 1613px 845px #FFF, 131px 79px #FFF, 1700px 1237px #FFF, 1142px 613px #FFF, 980px 33px #FFF, 65px 1986px #FFF, 824px 1368px #FFF, 1175px 1749px #FFF, 215px 523px #FFF, 1896px 1398px #FFF, 360px 139px #FFF, 1600px 14px #FFF, 402px 1725px #FFF, 1720px 314px #FFF, 985px 241px #FFF, 1837px 1152px #FFF, 820px 297px #FFF, 421px 1788px #FFF, 1013px 975px #FFF, 921px 1427px #FFF, 512px 735px #FFF, 823px 487px #FFF, 1722px 534px #FFF, 942px 32px #FFF, 1389px 875px #FFF, 1687px 691px #FFF, 122px 845px #FFF, 88px 1992px #FFF, 225px 1703px #FFF, 1133px 1147px #FFF, 995px 1605px #FFF, 1561px 1014px #FFF, 1854px 371px #FFF, 79px 981px #FFF, 335px 789px #FFF, 759px 727px #FFF, 1px 145px #FFF, 1309px 1600px #FFF, 1253px 1421px #FFF, 1293px 1050px #FFF, 1927px 1286px #FFF, 1267px 908px #FFF, 1156px 1036px #FFF, 1482px 1479px #FFF, 1593px 630px #FFF, 139px 1166px #FFF, 314px 1007px #FFF, 633px 101px #FFF, 661px 44px #FFF, 1759px 611px #FFF, 699px 1423px #FFF, 346px 1690px #FFF, 768px 235px #FFF, 1169px 581px #FFF, 1468px 207px #FFF, 1694px 412px #FFF, 1650px 282px #FFF, 165px 591px #FFF, 1090px 547px #FFF, 1990px 780px #FFF, 1889px 1667px #FFF, 1788px 366px #FFF, 377px 792px #FFF, 1214px 1364px #FFF, 429px 1726px #FFF, 1406px 1201px #FFF, 142px 1669px #FFF, 1696px 791px #FFF, 1379px 359px #FFF, 382px 1349px #FFF, 1393px 1871px #FFF, 112px 1053px #FFF, 1079px 1675px #FFF, 1907px 956px #FFF, 312px 639px #FFF, 324px 486px #FFF, 990px 768px #FFF, 1027px 1954px #FFF, 558px 776px #FFF, 1356px 825px #FFF, 1457px 1058px #FFF, 1606px 92px #FFF, 279px 1644px #FFF, 53px 1181px #FFF, 536px 133px #FFF, 171px 1682px #FFF, 551px 1732px #FFF, 675px 381px #FFF, 1909px 557px #FFF, 1957px 435px #FFF, 161px 1752px #FFF, 702px 738px #FFF, 319px 729px #FFF, 424px 1859px #FFF, 1827px 354px #FFF, 381px 415px #FFF, 1352px 959px #FFF, 1571px 1335px #FFF, 1801px 196px #FFF, 1914px 1439px #FFF, 1797px 1740px #FFF, 1722px 1206px #FFF, 690px 721px #FFF, 634px 1986px #FFF, 621px 1531px #FFF, 1401px 1435px #FFF, 497px 1895px #FFF, 1596px 1492px #FFF, 742px 387px #FFF, 51px 1841px #FFF, 882px 1208px #FFF, 1133px 1083px #FFF, 59px 420px #FFF, 1372px 1094px #FFF, 1394px 1945px #FFF, 534px 1275px #FFF, 83px 972px #FFF, 726px 575px #FFF, 1579px 1022px #FFF, 1104px 1857px #FFF, 1707px 969px #FFF, 1955px 1101px #FFF, 893px 708px #FFF, 1485px 1980px #FFF, 295px 995px #FFF, 1660px 151px #FFF, 1177px 1423px #FFF, 847px 1761px #FFF, 560px 64px #FFF, 1806px 1229px #FFF, 722px 1436px #FFF, 1428px 1735px #FFF, 872px 189px #FFF, 773px 123px #FFF, 1754px 1554px #FFF, 1960px 1992px #FFF, 491px 1632px #FFF, 1123px 379px #FFF, 1986px 30px #FFF, 1901px 1701px #FFF, 1961px 1982px #FFF, 1985px 1613px #FFF, 1556px 1897px #FFF, 1699px 494px #FFF, 48px 1265px #FFF, 1912px 844px #FFF, 393px 798px #FFF, 1179px 572px #FFF, 1266px 1690px #FFF, 1260px 1886px #FFF, 1954px 1965px #FFF, 144px 1632px #FFF, 443px 482px #FFF, 1857px 1725px #FFF, 1157px 432px #FFF, 460px 1368px #FFF, 1111px 1863px #FFF, 1663px 1183px #FFF, 1225px 166px #FFF, 1015px 208px #FFF, 1294px 455px #FFF, 1840px 1195px #FFF, 1967px 455px #FFF, 1007px 1743px #FFF, 1823px 1796px #FFF, 225px 777px #FFF, 1124px 1155px #FFF, 1524px 197px #FFF, 1841px 831px #FFF, 1281px 399px #FFF, 648px 1505px #FFF, 1940px 139px #FFF, 1734px 1116px #FFF, 358px 1621px #FFF, 314px 1894px #FFF, 72px 976px #FFF, 1354px 1860px #FFF, 342px 152px #FFF, 936px 1374px #FFF, 577px 1676px #FFF, 923px 679px #FFF, 1644px 1234px #FFF, 821px 239px #FFF, 839px 1057px #FFF, 1623px 830px #FFF, 1427px 1979px #FFF, 963px 1175px #FFF, 157px 1427px #FFF, 1652px 216px #FFF, 880px 83px #FFF, 1886px 611px #FFF, 1814px 746px #FFF, 1226px 1586px #FFF, 1701px 83px #FFF, 1130px 860px #FFF, 578px 1950px #FFF, 1779px 1944px #FFF, 1672px 1632px #FFF, 1428px 360px #FFF, 4px 976px #FFF, 1553px 1835px #FFF, 245px 996px #FFF, 1646px 385px #FFF, 222px 1485px #FFF, 1428px 1205px #FFF, 1080px 1339px #FFF, 1922px 342px #FFF, 645px 1163px #FFF, 295px 1406px #FFF, 1742px 402px #FFF, 436px 784px #FFF, 1048px 1061px #FFF, 1489px 1137px #FFF, 547px 721px #FFF, 729px 1743px #FFF, 601px 172px #FFF, 1642px 1403px #FFF, 696px 1704px #FFF, 1870px 1733px #FFF, 1110px 1183px #FFF, 1100px 1841px #FFF, 699px 822px #FFF, 857px 891px #FFF, 156px 413px #FFF, 638px 1142px #FFF, 1412px 832px #FFF, 1839px 1643px #FFF, 1311px 693px #FFF, 889px 501px #FFF, 1157px 101px #FFF, 674px 79px #FFF, 1018px 900px #FFF, 1123px 1283px #FFF, 1258px 59px #FFF, 841px 1380px #FFF, 648px 971px #FFF, 297px 52px #FFF, 391px 1646px #FFF, 1666px 468px #FFF, 1530px 486px #FFF, 85px 991px #FFF, 732px 1183px #FFF, 619px 571px #FFF, 189px 1546px #FFF, 1969px 407px #FFF, 403px 602px #FFF, 1657px 705px #FFF, 1035px 1193px #FFF, 1327px 179px #FFF, 410px 1028px #FFF, 808px 157px #FFF, 743px 332px #FFF, 356px 361px #FFF, 1599px 660px #FFF, 1865px 272px #FFF, 1739px 151px #FFF, 1701px 1474px #FFF, 219px 1389px #FFF, 976px 393px #FFF, 927px 745px #FFF, 1261px 231px #FFF, 1122px 689px #FFF, 1887px 1874px #FFF, 60px 1725px #FFF, 1947px 1321px #FFF, 1166px 663px #FFF, 1628px 961px #FFF, 297px 1139px #FFF, 1174px 461px #FFF, 1879px 733px #FFF, 1052px 503px #FFF, 1705px 173px #FFF, 671px 1786px #FFF, 530px 1289px #FFF, 1758px 188px #FFF, 1179px 113px #FFF, 1447px 52px #FFF, 1673px 1160px #FFF, 99px 165px #FFF, 54px 278px #FFF, 147px 1090px #FFF, 546px 713px #FFF, 1074px 383px #70D6BF, 1583px 1249px #70D6BF, 545px 1177px #70D6BF, 575px 1832px #70D6BF, 774px 750px #70D6BF, 727px 1853px #70D6BF, 118px 1734px #70D6BF, 1665px 1225px #70D6BF, 1597px 1344px #70D6BF, 410px 1751px #70D6BF, 1641px 177px #70D6BF, 1204px 1722px #70D6BF, 1606px 1293px #70D6BF, 610px 687px #70D6BF, 1850px 1209px #70D6BF, 24px 1209px #70D6BF, 422px 1235px #70D6BF, 1909px 814px #70D6BF, 844px 45px #70D6BF, 1190px 805px #70D6BF, 1291px 753px #70D6BF, 1639px 151px #70D6BF, 1558px 1615px #70D6BF, 1419px 234px #70D6BF, 1466px 1803px #70D6BF, 611px 1685px #70D6BF, 1399px 739px #70D6BF, 1583px 727px #70D6BF, 576px 1102px #70D6BF, 1269px 1557px #70D6BF, 370px 1509px #70D6BF, 1466px 94px #70D6BF, 1216px 776px #70D6BF, 1849px 991px #70D6BF, 1922px 1319px #70D6BF, 1778px 170px #70D6BF, 660px 579px #70D6BF, 654px 1326px #FFF, 900px 549px #FFF, 1153px 890px #FFF, 152px 499px #FFF, 1257px 198px #FFF, 1514px 860px #FFF, 83px 565px #FFF, 1871px 1141px #FFF, 1591px 7px #FFF, 478px 1610px #FFF, 929px 74px #FFF, 235px 557px #FFF, 29px 25px #FFF, 1649px 643px #FFF, 129px 283px #FFF, 1807px 298px #FFF, 1756px 692px #FFF, 150px 1461px #FFF, 1456px 441px #FFF, 1638px 1887px #FFF, 411px 175px #FFF, 1386px 1017px #FFF, 1193px 440px #FFF, 1063px 1769px #FFF, 1249px 957px #FFF, 1605px 1692px #FFF, 1572px 807px #FFF, 781px 98px #FFF, 585px 38px #FFF, 1697px 422px #FFF, 1660px 1894px #FFF, 732px 9px #FFF, 1584px 1942px #FFF, 631px 403px #FFF, 1274px 622px #FFF, 462px 424px #FFF, 1519px 669px #FFF, 28px 1362px #FFF, 1464px 476px #FFF, 1906px 147px #FFF, 1793px 261px #FFF, 189px 1049px #FFF, 352px 419px #FFF, 76px 1671px #FFF, 1419px 588px #FFF, 1762px 161px #FFF, 1758px 830px #FFF, 758px 169px #FFF, 664px 1511px #FFF, 1650px 1291px #FFF, 1364px 794px #FFF, 1125px 507px #FFF, 1308px 758px #FFF, 535px 1326px #FFF, 1176px 174px #FFF, 862px 5px #FFF, 1754px 990px #FFF, 1191px 791px #FFF, 1737px 500px #FFF, 213px 924px #FFF, 1537px 495px #FFF, 1079px 1405px #FFF, 1431px 1750px #FFF, 1718px 653px #FFF, 1369px 1487px #FFF, 1491px 1497px #FFF, 848px 1031px #FFF, 1968px 1220px #FFF, 674px 1885px #FFF, 1008px 991px #FFF, 1786px 351px #FFF, 359px 1677px #FFF, 1141px 1778px #FFF, 1911px 1631px #FFF, 1586px 1427px #FFF, 1252px 1277px #FFF, 1379px 830px #FFF, 308px 234px #FFF, 1536px 1726px #FFF, 958px 848px #FFF, 1449px 1671px #FFF, 296px 921px #FFF, 928px 1354px #FFF, 666px 1461px #FFF, 1874px 1682px #FFF, 1189px 1955px #FFF, 1116px 1324px #FFF, 1813px 735px #FFF, 1434px 685px #FFF, 655px 824px #FFF, 1972px 1341px #FFF, 218px 1403px #FFF, 181px 198px #FFF, 227px 1776px #FFF, 803px 499px #FFF, 1637px 1302px #FFF, 1205px 721px #FFF, 912px 613px #FFF, 1308px 1882px #FFF, 406px 67px #FFF, 1620px 579px #FFF, 1515px 1626px #FFF, 1297px 715px #FFF, 782px 1983px #FFF, 199px 95px #FFF, 1878px 1404px #FFF, 1812px 73px #FFF, 636px 1322px #FFF, 837px 1578px #FFF, 943px 552px #FFF, 1160px 1852px #FFF, 1495px 133px #FFF, 128px 1887px #FFF, 7px 1696px #FFF, 615px 130px #FFF, 1739px 630px #FFF, 1780px 1735px #FFF, 261px 1641px #FFF, 30px 375px #FFF, 581px 1184px #FFF, 1115px 1468px #FFF, 1895px 1072px #FFF, 515px 224px #FFF, 1218px 1616px #FFF, 25px 84px #FFF, 569px 170px #FFF, 158px 592px #FFF, 1331px 1816px #FFF, 1496px 1332px #FFF, 64px 1410px #FFF, 573px 185px #FFF, 406px 1164px #FFF, 485px 1132px #FFF, 872px 30px #FFF, 1475px 1195px #FFF, 1419px 1457px #FFF, 961px 1719px #FFF, 440px 147px #FFF, 557px 113px #FFF, 1809px 1281px #FFF, 395px 605px #FFF, 1435px 357px #FFF, 631px 472px #FFF, 1012px 1777px #FFF, 940px 1307px #FFF, 700px 463px #FFF, 1555px 1594px #FFF, 1368px 909px #FFF, 729px 1415px #FFF, 1105px 1136px #FFF, 1016px 962px #FFF, 1259px 1089px #FFF, 362px 1424px #FFF, 1279px 1819px #FFF, 666px 1182px #FFF, 214px 565px #FFF, 656px 530px #FFF, 1204px 54px #FFF, 386px 1717px #FFF, 817px 1982px #FFF, 1601px 889px #FFF, 1986px 446px #FFF, 580px 1911px #FFF, 816px 919px #FFF, 1175px 73px #FFF, 712px 761px #FFF, 664px 1858px #FFF, 438px 939px #FFF, 1523px 802px #FFF, 1765px 335px #FFF, 42px 1515px #FFF, 1916px 1400px #FFF, 1289px 743px #FFF, 1106px 784px #FFF, 1135px 895px #FFF, 1286px 1147px #FFF, 677px 894px #FFF, 1966px 1503px #FFF, 1100px 1485px #FFF, 1658px 453px #FFF, 1217px 875px #FFF, 267px 1209px #FFF, 193px 1001px #FFF, 1004px 798px #FFF, 806px 696px #FFF, 773px 172px #FFF, 1065px 1507px #FFF, 874px 1096px #FFF, 1867px 285px #FFF, 1224px 1924px #FFF, 1209px 75px #FFF, 1378px 145px #FFF, 1287px 1396px #FFF, 857px 228px #FFF, 460px 1394px #FFF, 1278px 1760px #FFF, 1012px 441px #FFF, 884px 801px #FFF, 28px 306px #FFF, 1911px 607px #FFF, 397px 458px #FFF, 1675px 399px #FFF, 1978px 1431px #FFF, 1424px 435px #FFF, 653px 1479px #FFF, 1774px 662px #FFF, 407px 840px #FFF, 1347px 911px #FFF, 1376px 28px #FFF, 66px 845px #FFF, 701px 1275px #FFF, 897px 1658px #FFF, 2px 663px #FFF, 1655px 68px #FFF, 1498px 59px #FFF, 1557px 1207px #FFF, 1151px 521px #FFF, 1622px 380px #FFF, 680px 1210px #FFF, 374px 608px #FFF, 1163px 1776px #FFF, 945px 567px #FFF, 1882px 127px #FFF, 64px 312px #FFF, 1126px 579px #FFF, 338px 816px #FFF, 1534px 831px #FFF, 395px 1244px #FFF, 162px 255px #FFF, 173px 1789px #FFF, 1298px 1587px #FFF, 1328px 521px #FFF, 1812px 1212px #FFF, 1384px 624px #FFF, 1128px 1119px #FFF, 511px 173px #FFF, 1538px 1465px #FFF, 1241px 352px #FFF, 1100px 771px #FFF, 985px 1490px #FFF, 126px 557px #FFF, 492px 1245px #FFF, 359px 10px #FFF, 1133px 1164px #FFF, 1342px 628px #FFF, 1309px 1588px #FFF, 1694px 793px #FFF, 1355px 516px #FFF, 1081px 263px #FFF, 974px 1153px #FFF, 61px 1588px #FFF, 695px 602px #FFF, 823px 34px #FFF, 154px 366px #FFF, 1754px 1249px #FFF, 1386px 513px #FFF, 138px 1515px #FFF, 955px 1818px #FFF, 1486px 668px #FFF, 1528px 151px #FFF, 1119px 1327px #FFF, 795px 279px #FFF, 175px 983px #FFF, 1831px 1858px #FFF, 547px 1483px #FFF, 1018px 563px #FFF, 807px 1386px #FFF, 431px 1868px #FFF, 1619px 352px #FFF, 1548px 1035px #FFF, 1290px 1254px #FFF, 1643px 1589px #FFF, 903px 1292px #FFF, 1880px 1346px #FFF, 310px 1895px #FFF, 1754px 1362px #FFF, 1925px 146px #FFF, 1946px 1954px #FFF, 1346px 460px #FFF, 1670px 623px #FFF, 1550px 112px #FFF, 124px 650px #FFF, 979px 791px #FFF, 577px 1900px #FFF, 220px 661px #FFF, 1502px 1434px #FFF, 1172px 1812px #FFF, 1386px 1207px #FFF, 1919px 1789px #FFF, 832px 1453px #FFF, 1418px 1482px #FFF, 847px 1240px #FFF, 1796px 1478px #FFF, 1214px 84px #FFF, 596px 1982px #FFF, 1906px 994px #FFF, 1528px 170px #FFF, 1096px 937px #FFF, 1157px 963px #FFF, 1543px 418px #FFF, 651px 1434px #FFF, 1540px 1598px #FFF, 860px 959px #FFF, 1838px 1582px #FFF, 825px 1275px #FFF, 79px 670px #FFF, 733px 288px #FFF, 497px 1466px #FFF, 1764px 1065px #FFF, 707px 1797px #FFF, 177px 1651px #FFF, 238px 1866px #FFF, 879px 780px #FFF, 1025px 907px #FFF, 1604px 554px #FFF, 931px 1198px #FFF, 1699px 1916px #FFF, 1387px 1781px #FFF, 602px 71px #FFF, 480px 883px #FFF, 289px 334px #FFF, 1709px 550px #FFF, 1200px 303px #FFF, 986px 691px #FFF, 1272px 713px #FFF, 69px 1672px #FFF, 1707px 1470px #FFF, 542px 355px #FFF, 1078px 932px #FFF, 445px 1133px #FFF, 579px 1751px #FFF, 1916px 419px #FFF, 592px 38px #FFF, 1715px 1378px #FFF, 1352px 1103px #FFF, 254px 410px #FFF, 735px 100px #FFF, 1070px 305px #FFF;
}
.stars__02 {
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: transparent;
  position: absolute;
  box-shadow: 532px 1914px #70D6BF, 680px 1038px #DCCC6D, 1811px 815px #DCCC6D, 1953px 909px #DCCC6D, 462px 765px #DCCC6D, 200px 1419px #DCCC6D, 1521px 1013px #DCCC6D, 1408px 1444px #DCCC6D, 1812px 358px #DCCC6D, 780px 922px #DCCC6D, 1079px 1850px #DCCC6D, 1767px 1689px #DCCC6D, 63px 855px #DCCC6D, 1119px 1432px #70D6BF, 1703px 1541px #DCCC6D, 754px 1505px #DCCC6D, 375px 284px #DCCC6D, 1449px 349px #DCCC6D, 781px 687px #DCCC6D, 196px 72px #DCCC6D, 362px 1326px #70D6BF, 1494px 1555px #DCCC6D, 421px 1094px #DCCC6D, 1829px 1417px #DCCC6D, 1336px 1011px #DCCC6D, 93px 235px #DCCC6D, 1766px 923px #DCCC6D, 125px 1363px #70D6BF, 1023px 251px #DCCC6D, 519px 695px #DCCC6D, 1315px 1502px #DCCC6D, 1144px 249px #DCCC6D, 1774px 1384px #DCCC6D, 1158px 1940px #DCCC6D, 1841px 1692px #70D6BF, 371px 857px #DCCC6D, 875px 454px #DCCC6D, 1676px 1318px #DCCC6D, 213px 1556px #DCCC6D, 719px 344px #DCCC6D, 1662px 238px #DCCC6D, 1188px 1585px #DCCC6D, 1041px 145px #DCCC6D, 1769px 13px #DCCC6D, 1949px 1142px #DCCC6D, 1736px 1382px #DCCC6D, 491px 1099px #DCCC6D, 110px 1893px #DCCC6D, 148px 1593px #DCCC6D, 1180px 526px #DCCC6D, 1671px 1587px #DCCC6D, 1452px 1847px #DCCC6D, 652px 360px #DCCC6D, 133px 662px #DCCC6D, 1981px 1977px #DCCC6D, 345px 1479px #DCCC6D, 359px 924px #DCCC6D, 72px 1212px #DCCC6D, 466px 709px #DCCC6D, 1804px 356px #DCCC6D, 1793px 993px #DCCC6D, 485px 535px #DCCC6D, 1176px 1961px #DCCC6D, 1049px 1688px #DCCC6D, 90px 1542px #DCCC6D, 1843px 539px #DCCC6D, 1233px 1397px #DCCC6D, 458px 434px #DCCC6D, 1233px 1421px #DCCC6D, 261px 901px #DCCC6D, 1066px 79px #DCCC6D, 1529px 76px #DCCC6D, 1821px 172px #DCCC6D, 1191px 1971px #DCCC6D, 25px 511px #DCCC6D, 1757px 1875px #DCCC6D, 757px 1578px #DCCC6D, 879px 1005px #DCCC6D, 251px 1699px #DCCC6D, 736px 1556px #DCCC6D, 987px 1049px #DCCC6D, 398px 54px #DCCC6D, 1150px 371px #DCCC6D, 1609px 840px #DCCC6D, 955px 608px #DCCC6D, 1017px 338px #DCCC6D, 1440px 1348px #DCCC6D, 245px 1912px #DCCC6D, 785px 490px #DCCC6D, 1555px 601px #DCCC6D, 999px 1629px #DCCC6D, 899px 1667px #DCCC6D, 293px 422px #DCCC6D, 580px 622px #DCCC6D, 482px 547px #DCCC6D, 1933px 697px #DCCC6D, 839px 1700px #DCCC6D, 1140px 1567px #DCCC6D, 1688px 1542px #DCCC6D, 1000px 993px #DCCC6D, 101px 1310px #DCCC6D, 494px 800px #DCCC6D, 1691px 1601px #DCCC6D, 1951px 1665px #DCCC6D, 1364px 444px #DCCC6D, 371px 161px #DCCC6D, 1588px 1963px #DCCC6D, 714px 160px #DCCC6D, 242px 573px #DCCC6D, 891px 1050px #DCCC6D, 1801px 1058px #DCCC6D, 1311px 1371px #DCCC6D, 1105px 728px #DCCC6D, 1025px 1648px #DCCC6D, 217px 1467px #DCCC6D, 594px 1531px #DCCC6D, 1172px 1089px #DCCC6D, 329px 1003px #DCCC6D, 13px 1994px #DCCC6D, 1620px 1081px #DCCC6D, 1984px 1218px #DCCC6D, 1390px 1747px #DCCC6D, 1383px 672px #DCCC6D, 373px 74px #DCCC6D, 1246px 942px #DCCC6D, 1282px 615px #DCCC6D, 694px 809px #DCCC6D, 1608px 719px #DCCC6D, 1375px 351px #DCCC6D, 1994px 441px #DCCC6D, 314px 1452px #DCCC6D, 834px 951px #DCCC6D, 940px 1981px #DCCC6D, 1672px 781px #DCCC6D, 1422px 493px #DCCC6D, 44px 716px #DCCC6D, 883px 1234px #DCCC6D, 78px 1866px #DCCC6D, 1888px 1774px #DCCC6D, 1932px 1530px #DCCC6D, 995px 184px #DCCC6D, 1931px 444px #DCCC6D, 1190px 386px #DCCC6D, 164px 585px #DCCC6D, 757px 1298px #DCCC6D, 1459px 183px #DCCC6D, 1790px 1825px #70D6BF, 1580px 439px #DCCC6D, 67px 505px #DCCC6D, 1420px 995px #DCCC6D, 1995px 1715px #DCCC6D, 1546px 1242px #DCCC6D, 512px 1675px #DCCC6D, 1938px 252px #DCCC6D, 1922px 196px #DCCC6D, 724px 1721px #DCCC6D, 698px 1758px #DCCC6D, 1267px 1744px #DCCC6D, 932px 1834px #DCCC6D, 648px 989px #DCCC6D, 972px 1030px #DCCC6D, 1323px 1450px #DCCC6D, 1823px 1355px #DCCC6D, 388px 221px #DCCC6D, 939px 760px #DCCC6D, 1553px 1342px #DCCC6D, 1292px 1278px #DCCC6D, 874px 241px #DCCC6D, 1999px 105px #DCCC6D, 1777px 702px #DCCC6D, 560px 1290px #DCCC6D, 644px 1332px #DCCC6D, 570px 334px #DCCC6D, 1700px 836px #DCCC6D, 1820px 1215px #DCCC6D, 1868px 1626px #DCCC6D, 38px 1359px #DCCC6D, 163px 1159px #DCCC6D, 1345px 1781px #DCCC6D, 1527px 1959px #DCCC6D, 455px 1106px #DCCC6D, 608px 1905px #DCCC6D, 782px 450px #DCCC6D, 69px 962px #DCCC6D, 1016px 736px #DCCC6D, 1661px 1096px #DCCC6D, 1802px 1065px #DCCC6D, 1290px 1347px #DCCC6D, 1090px 856px #DCCC6D, 921px 1371px #DCCC6D, 519px 845px #DCCC6D, 1736px 721px #DCCC6D, 1914px 1242px #DCCC6D, 439px 1774px #DCCC6D, 113px 64px #DCCC6D, 1277px 1772px #DCCC6D, 1802px 1491px #DCCC6D, 1640px 693px #DCCC6D, 870px 1964px #DCCC6D, 1565px 1580px #DCCC6D;
  animation: animStar 100s linear infinite;
}
.stars__02::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  border-radius: 100%;
  background: transparent;
  box-shadow: 532px 1914px #7A5BAD, 680px 1038px #7A5BAD, 1811px 815px #7A5BAD, 1953px 909px #7A5BAD, 462px 765px #7A5BAD, 200px 1419px #7A5BAD, 1521px 1013px #7A5BAD, 1408px 1444px #7A5BAD, 1812px 358px #7A5BAD, 780px 922px #7A5BAD, 1079px 1850px #7A5BAD, 1767px 1689px #7A5BAD, 63px 855px #7A5BAD, 1119px 1432px #7A5BAD, 1703px 1541px #7A5BAD, 754px 1505px #7A5BAD, 375px 284px #7A5BAD, 1449px 349px #7A5BAD, 781px 687px #7A5BAD, 196px 72px #7A5BAD, 362px 1326px #7A5BAD, 1494px 1555px #7A5BAD, 421px 1094px #7A5BAD, 1829px 1417px #7A5BAD, 1336px 1011px #7A5BAD, 93px 235px #7A5BAD, 1766px 923px #7A5BAD, 125px 1363px #7A5BAD, 1023px 251px #7A5BAD, 519px 695px #7A5BAD, 1315px 1502px #7A5BAD, 1144px 249px #7A5BAD, 1774px 1384px #7A5BAD, 1158px 1940px #7A5BAD, 1841px 1692px #7A5BAD, 371px 857px #7A5BAD, 875px 454px #7A5BAD, 1676px 1318px #7A5BAD, 213px 1556px #7A5BAD, 719px 344px #7A5BAD, 1662px 238px #7A5BAD, 1188px 1585px #7A5BAD, 1041px 145px #7A5BAD, 1769px 13px #7A5BAD, 1949px 1142px #7A5BAD, 1736px 1382px #7A5BAD, 491px 1099px #7A5BAD, 110px 1893px #7A5BAD, 148px 1593px #7A5BAD, 1180px 526px #7A5BAD, 1671px 1587px #7A5BAD, 1452px 1847px #7A5BAD, 652px 360px #7A5BAD, 133px 662px #7A5BAD, 1981px 1977px #7A5BAD, 345px 1479px #7A5BAD, 359px 924px #7A5BAD, 72px 1212px #7A5BAD, 466px 709px #7A5BAD, 1804px 356px #7A5BAD, 1793px 993px #7A5BAD, 485px 535px #7A5BAD, 1176px 1961px #7A5BAD, 1049px 1688px #7A5BAD, 90px 1542px #7A5BAD, 1843px 539px #7A5BAD, 1233px 1397px #7A5BAD, 458px 434px #7A5BAD, 1233px 1421px #7A5BAD, 261px 901px #7A5BAD, 1066px 79px #7A5BAD, 1529px 76px #7A5BAD, 1821px 172px #7A5BAD, 1191px 1971px #7A5BAD, 25px 511px #7A5BAD, 1757px 1875px #7A5BAD, 757px 1578px #7A5BAD, 879px 1005px #7A5BAD, 251px 1699px #7A5BAD, 736px 1556px #7A5BAD, 987px 1049px #7A5BAD, 398px 54px #7A5BAD, 1150px 371px #7A5BAD, 1609px 840px #7A5BAD, 955px 608px #7A5BAD, 1017px 338px #7A5BAD, 1440px 1348px #7A5BAD, 245px 1912px #7A5BAD, 785px 490px #7A5BAD, 1555px 601px #7A5BAD, 999px 1629px #7A5BAD, 899px 1667px #7A5BAD, 293px 422px #7A5BAD, 580px 622px #7A5BAD, 482px 547px #7A5BAD, 1933px 697px #FFF, 839px 1700px #FFF, 1140px 1567px #FFF, 1688px 1542px #FFF, 1000px 993px #FFF, 101px 1310px #FFF, 494px 800px #FFF, 1691px 1601px #FFF, 1951px 1665px #FFF, 1364px 444px #FFF, 371px 161px #FFF, 1588px 1963px #FFF, 714px 160px #FFF, 242px 573px #FFF, 891px 1050px #FFF, 1801px 1058px #FFF, 1311px 1371px #FFF, 1105px 728px #FFF, 1025px 1648px #FFF, 217px 1467px #FFF, 594px 1531px #FFF, 1172px 1089px #FFF, 329px 1003px #FFF, 13px 1994px #FFF, 1620px 1081px #FFF, 1984px 1218px #FFF, 1390px 1747px #FFF, 1383px 672px #FFF, 373px 74px #FFF, 1246px 942px #FFF, 1282px 615px #FFF, 694px 809px #FFF, 1608px 719px #FFF, 1375px 351px #FFF, 1994px 441px #FFF, 314px 1452px #FFF, 834px 951px #FFF, 940px 1981px #FFF, 1672px 781px #FFF, 1422px 493px #FFF, 44px 716px #FFF, 883px 1234px #FFF, 78px 1866px #FFF, 1888px 1774px #FFF, 1932px 1530px #FFF, 995px 184px #FFF, 1931px 444px #FFF, 1190px 386px #FFF, 164px 585px #FFF, 757px 1298px #FFF, 1459px 183px #FFF, 1790px 1825px #FFF, 1580px 439px #FFF, 67px 505px #FFF, 1420px 995px #FFF, 1995px 1715px #FFF, 1546px 1242px #FFF, 512px 1675px #FFF, 1938px 252px #FFF, 1922px 196px #FFF, 724px 1721px #FFF, 698px 1758px #FFF, 1267px 1744px #FFF, 932px 1834px #FFF, 648px 989px #FFF, 972px 1030px #FFF, 1323px 1450px #FFF, 1823px 1355px #FFF, 388px 221px #FFF, 939px 760px #FFF, 1553px 1342px #FFF, 1292px 1278px #FFF, 874px 241px #FFF, 1999px 105px #FFF, 1777px 702px #FFF, 560px 1290px #FFF, 644px 1332px #FFF, 570px 334px #FFF, 1700px 836px #FFF, 1820px 1215px #FFF, 1868px 1626px #FFF, 38px 1359px #FFF, 163px 1159px #FFF, 1345px 1781px #FFF, 1527px 1959px #FFF, 455px 1106px #FFF, 608px 1905px #FFF, 782px 450px #FFF, 69px 962px #FFF, 1016px 736px #FFF, 1661px 1096px #FFF, 1802px 1065px #FFF, 1290px 1347px #FFF, 1090px 856px #FFF, 921px 1371px #FFF, 519px 845px #FFF, 1736px 721px #FFF, 1914px 1242px #FFF, 439px 1774px #FFF, 113px 64px #FFF, 1277px 1772px #FFF, 1802px 1491px #FFF, 1640px 693px #FFF, 870px 1964px #FFF, 1565px 1580px #FFF;
}
.stars__03 {
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: transparent;
  position: absolute;
  box-shadow: 991px 9px #F74F79, 1491px 1521px #F1FE98, 300px 996px #70D6BF, 1839px 846px #70D6BF, 1511px 533px #70D6BF, 1962px 864px #70D6BF, 944px 1379px #70D6BF, 1822px 1657px #70D6BF, 1228px 773px #70D6BF, 1590px 1917px #70D6BF, 1754px 1884px #70D6BF, 956px 1328px #70D6BF, 314px 1171px #70D6BF, 258px 1043px #F74F79, 1650px 176px #F74F79, 1596px 1515px #F74F79, 774px 1356px #F74F79, 74px 1746px #F74F79, 154px 1405px #F74F79, 183px 1882px #F74F79, 1971px 23px #F74F79, 371px 1258px #F74F79, 1518px 429px #F74F79, 1694px 1978px #F74F79, 493px 554px #F74F79, 1378px 96px #F74F79, 734px 1259px #F74F79, 1618px 1033px #F74F79, 452px 183px #F74F79, 818px 283px #F74F79, 755px 1847px #F74F79, 1100px 167px #F74F79, 943px 804px #F74F79, 870px 800px #F1FE98, 30px 1658px #F74F79, 1670px 208px #F74F79, 1183px 1101px #F74F79, 467px 190px #F74F79, 990px 668px #F74F79, 1948px 577px #F1FE98, 470px 1861px #F74F79, 675px 332px #F74F79, 1557px 1737px #F1FE98, 1853px 333px #F74F79, 1180px 1274px #F74F79, 884px 1118px #F74F79, 1672px 58px #F74F79, 1808px 1606px #F74F79, 1068px 407px #F74F79, 1984px 66px #F74F79, 1073px 896px #F74F79, 887px 583px #F74F79, 1002px 710px #F74F79, 1270px 947px #F1FE98, 1732px 979px #F74F79, 180px 112px #F74F79, 863px 686px #F74F79, 1152px 1445px #F74F79, 1820px 479px #F74F79, 1122px 1287px #F74F79, 1803px 1970px #F74F79, 1487px 1567px #70D6BF, 1740px 873px #70D6BF, 867px 187px #70D6BF, 1903px 1819px #70D6BF, 449px 32px #70D6BF, 934px 531px #70D6BF, 321px 64px #70D6BF, 1308px 1170px #F74F79, 1378px 1288px #F74F79, 486px 1235px #F74F79, 1314px 1489px #F74F79, 5px 852px #F74F79, 350px 1788px #F74F79, 938px 1575px #F74F79, 1266px 1577px #F74F79, 815px 1973px #F74F79, 1730px 1726px #F74F79, 1685px 1639px #F74F79, 870px 297px #F74F79, 1381px 1405px #F74F79, 500px 1517px #F74F79, 986px 262px #F74F79, 334px 1763px #F74F79, 260px 1649px #F74F79, 1327px 214px #F74F79, 1448px 856px #F74F79, 1353px 277px #F74F79, 911px 175px #F74F79, 447px 1975px #F74F79, 429px 1772px #F1FE98, 1604px 1576px #F74F79, 586px 1219px #F1FE98, 432px 1110px #F74F79, 1027px 77px #F74F79, 1596px 290px #F1FE98, 400px 1793px #F74F79, 1041px 1542px #F74F79, 1167px 1047px #F74F79, 842px 847px #F74F79;
  animation: animStar 150s linear infinite;
}
.stars__03::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: transparent;
  box-shadow: 991px 9px #4DC7AB, 1491px 1521px #4DC7AB, 300px 996px #4DC7AB, 1839px 846px #4DC7AB, 1511px 533px #4DC7AB, 1962px 864px #4DC7AB, 944px 1379px #4DC7AB, 1822px 1657px #4DC7AB, 1228px 773px #4DC7AB, 1590px 1917px #4DC7AB, 1754px 1884px #4DC7AB, 956px 1328px #4DC7AB, 314px 1171px #4DC7AB, 258px 1043px #4DC7AB, 1650px 176px #4DC7AB, 1596px 1515px #4DC7AB, 774px 1356px #4DC7AB, 74px 1746px #4DC7AB, 154px 1405px #4DC7AB, 183px 1882px #4DC7AB, 1971px 23px #4DC7AB, 371px 1258px #4DC7AB, 1518px 429px #4DC7AB, 1694px 1978px #4DC7AB, 493px 554px #4DC7AB, 1378px 96px #4DC7AB, 734px 1259px #4DC7AB, 1618px 1033px #4DC7AB, 452px 183px #4DC7AB, 818px 283px #4DC7AB, 755px 1847px #4DC7AB, 1100px 167px #4DC7AB, 943px 804px #4DC7AB, 870px 800px #4DC7AB, 30px 1658px #4DC7AB, 1670px 208px #4DC7AB, 1183px 1101px #4DC7AB, 467px 190px #4DC7AB, 990px 668px #4DC7AB, 1948px 577px #4DC7AB, 470px 1861px #4DC7AB, 675px 332px #4DC7AB, 1557px 1737px #4DC7AB, 1853px 333px #4DC7AB, 1180px 1274px #4DC7AB, 884px 1118px #4DC7AB, 1672px 58px #4DC7AB, 1808px 1606px #4DC7AB, 1068px 407px #4DC7AB, 1984px 66px #4DC7AB, 1073px 896px #4DC7AB, 887px 583px #4DC7AB, 1002px 710px #4DC7AB, 1270px 947px #4DC7AB, 1732px 979px #4DC7AB, 180px 112px #4DC7AB, 863px 686px #4DC7AB, 1152px 1445px #4DC7AB, 1820px 479px #4DC7AB, 1122px 1287px #4DC7AB, 1803px 1970px #4DC7AB, 1487px 1567px #4DC7AB, 1740px 873px #4DC7AB, 867px 187px #4DC7AB, 1903px 1819px #4DC7AB, 449px 32px #4DC7AB, 934px 531px #4DC7AB, 321px 64px #4DC7AB, 1308px 1170px #4DC7AB, 1378px 1288px #4DC7AB, 486px 1235px #4DC7AB, 1314px 1489px #4DC7AB, 5px 852px #4DC7AB, 350px 1788px #4DC7AB, 938px 1575px #4DC7AB, 1266px 1577px #4DC7AB, 815px 1973px #4DC7AB, 1730px 1726px #4DC7AB, 1685px 1639px #4DC7AB, 870px 297px #4DC7AB, 1381px 1405px #4DC7AB, 500px 1517px #4DC7AB, 986px 262px #4DC7AB, 334px 1763px #4DC7AB, 260px 1649px #4DC7AB, 1327px 214px #4DC7AB, 1448px 856px #4DC7AB, 1353px 277px #4DC7AB, 911px 175px #4DC7AB, 447px 1975px #4DC7AB, 429px 1772px #4DC7AB, 1604px 1576px #4DC7AB, 586px 1219px #4DC7AB, 432px 1110px #4DC7AB, 1027px 77px #4DC7AB, 1596px 290px #4DC7AB, 400px 1793px #4DC7AB, 1041px 1542px #4DC7AB, 1167px 1047px #4DC7AB, 842px 847px #4DC7AB;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 200;
  src: url("../resources/fonts/NotoSansCJKkr-Light.woff2") format("woff2"), url("../resources/fonts/NotoSansCJKkr-Light.woff") format("woff"), url("../resources/fonts/NotoSansCJKkr-Light.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: url("../resources/fonts/NotoSansCJKkr-DemiLight.woff2") format("woff2"), url("../resources/fonts/NotoSansCJKkr-DemiLight.woff") format("woff"), url("../resources/fonts/NotoSansCJKkr-DemiLight.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/NotoSansCJKkr-Regular.woff2") format("woff2"), url("../resources/fonts/NotoSansCJKkr-Regular.woff") format("woff"), url("../resources/fonts/NotoSansCJKkr-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("../resources/fonts/NotoSansCJKkr-Medium.woff2") format("woff2"), url("../resources/fonts/NotoSansCJKkr-Medium.woff") format("woff"), url("../resources/fonts/NotoSansCJKkr-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("../resources/fonts/Jost-VariableFont_wght.ttf") format("truetype");
  unicode-range: U+0041-005A,  U61-7A, U+0030-0039;
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: url("../resources/fonts/Jost-Medium.ttf") format("truetype");
  unicode-range: U+0041-005A,  U61-7A, U+0030-0039;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-weight: 400;
  color: #272421;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans KR", "Malgun Gothic", "Apple SD Gothic Neo", "KBFGDisplay", "맑은 고딕", sans-serif;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

button, input {
  outline: none;
  background: none;
  border: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #23d5ab;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

body {
  -webkit-text-size-adjust: none;
  font-weight: 400;
  line-height: 1.8;
  font-size: 17px;
  letter-spacing: -0.8px;
  color: #272421;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, figure, figcaption {
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

fieldset, img {
  border: 0 none;
  vertical-align: middle;
}

dl, ul, ol, menu, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

input, select, textarea, button {
  font-size: 100%;
  vertical-align: middle;
  color: inherit;
  caret-color: #272421;
}

input:focus-visible {
  outline-color: #272421;
  outline-style: solid;
  outline-width: 1px;
}
.select-date-comp__pickers__input-wrap input:read-only, .select-date-comp__pickers__input-wrap input:disabled {
  border: none;
}
input::placeholder {
  color: #858585 !important;
}

button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}
button span {
  position: relative;
}

body {
  background: linear-gradient(to bottom, #000 0%, rgb(149, 118, 170) 100%);
}

.container {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  z-index: 10;
  overflow: hidden;
}
@media (min-width: 770px) {
  .card {
    width: 600px;
    height: 790px;
    border-radius: 16px;
  }
}
.card__header {
  position: relative;
  width: 100%;
  height: 260px;
  padding: 40px 20px 20px;
  text-align: center;
  overflow: hidden;
}
@media (min-width: 770px) {
  .card__header {
    border-radius: 16px;
  }
}
.is-active .card__header {
  display: flex;
  height: 120px;
  padding: 20px;
}
.card__header::before {
  width: 100%;
  height: 160px;
  position: absolute;
  content: "";
  top: -20%;
  left: 0;
  will-change: top;
  background: linear-gradient(45deg, rgb(170, 157, 244) 0%, rgba(157, 237, 244, 0) 70%), linear-gradient(135deg, rgb(165, 148, 165) 10%, rgba(235, 170, 236, 0) 80%), linear-gradient(225deg, rgb(170, 236, 170) 10%, rgba(170, 236, 170, 0) 80%), linear-gradient(315deg, rgb(244, 234, 122) 100%, rgba(244, 234, 122, 0) 70%);
  background-size: cover;
  background-position: center;
  filter: blur(30px);
  transform: scale(1.2);
  transition: 0.5s;
}
.is-active .card__header::before {
  height: 120px;
  top: -80%;
}
.card__header__image {
  position: relative;
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: 1;
  transition: 0.3s;
}
.is-active .card__header__image {
  width: 80px;
  height: 80px;
}
.card__header__title {
  margin-top: 20px;
  z-index: 1;
}
.card__header__title__name {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
}
.card__header__title__job {
  margin-top: 6px;
  font-size: 13px;
  line-height: 16px;
  color: #858585;
  letter-spacing: 1px;
}
.is-active .card__header__title {
  text-align: left;
  margin-top: 0;
  margin-left: 28px;
  align-self: center;
}
.card__cont {
  height: calc(100% - 310px);
}
.is-active .card__cont {
  height: calc(100% - 170px);
}
.card__cont__item {
  display: none;
  height: 100%;
  overflow: auto;
  padding: 20px;
}
@media (min-width: 770px) {
  .card__cont__item {
    padding: 20px 40px;
  }
}
.card__cont__item.is-active {
  display: block;
  animation: fadeIn 0.6s both;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translatey(40px);
  }
  100% {
    opacity: 1;
  }
}
.is-active .card__cont__item {
  padding: 40px 20px;
}
@media (min-width: 770px) {
  .is-active .card__cont__item {
    padding: 40px;
  }
}
.card__cont__item h2 {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 8px;
  color: #2b2c48;
}
.card__cont__item--about__item {
  font-size: 16px;
}
.card__cont__item--about__item + .card__cont__item--about__item {
  margin-top: 12px;
}
.card__cont__item__div + .card__cont__item__div {
  margin-top: 8px;
}
.card__cont__item__timeline {
  margin-top: 30px;
  position: relative;
}
.card__cont__item__timeline:after {
  background: linear-gradient(to top, rgba(134, 214, 243, 0) 0%, rgb(81, 106, 204) 100%);
  content: "";
  left: 42px;
  width: 2px;
  top: 0;
  height: 100%;
  position: absolute;
  content: "";
}
.card__cont__item__timeline__date {
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 30px;
  z-index: 1;
}
.card__cont__item__timeline__date:last-child {
  padding-bottom: 5px;
}
.card__cont__item__timeline__date[data-year]:after {
  width: 6px;
  height: 6px;
  border: 2px solid #516acc;
  background: linear-gradient(to bottom, rgb(159.88, 173.5466666667, 227.12) 0%, #fff 100%);
}
.card__cont__item__timeline__date:after {
  content: attr(data-year);
  position: absolute;
  top: 0;
  left: 37px;
  line-height: 0.6;
  font-size: 11px;
  text-indent: -35px;
  border-radius: 50%;
  color: rgba(134, 134, 134, 0.7);
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  background: linear-gradient(to bottom, rgb(159.88, 173.5466666667, 227.12) 0%, #516acc 100%);
}
.card__cont__item__timeline__date-title span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  font-family: "Noto Sans KR";
  color: #8a84ff;
}
.card__cont__item__skill--html h3::before {
  background: url(../resources/images/html5-brands.svg) no-repeat center/cover;
}
.card__cont__item__skill--css {
  margin-top: 20px;
}
.card__cont__item__skill--css h3::before {
  background: url(../resources/images/css3-brands.svg) no-repeat center/cover;
}
.card__cont__item__skill--js {
  margin-top: 20px;
}
.card__cont__item__skill--js h3::before {
  background: url(../resources/images/js-brands.svg) no-repeat center/cover;
}
.card__cont__item__skill--photo {
  margin-top: 20px;
}
.card__cont__item__skill--photo h3::before {
  background: url(../resources/images/palette-solid.svg) no-repeat center/cover;
}
.card__cont__item__skill--coop {
  margin-top: 20px;
}
.card__cont__item__skill--coop h3::before {
  background: url(../resources/images/people-arrows-solid.svg) no-repeat;
}
.card__cont__item__skill__box h3 {
  font-weight: 500;
  font-size: 16px;
  position: relative;
  margin-left: 35px;
  cursor: pointer;
}
.card__cont__item__skill__box h3::before {
  opacity: 0.8;
  display: inline-block;
  top: 4px;
  left: -25px;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
}
.card__cont__item__skill__box .logo-tooltip {
  opacity: 1;
  font-weight: bold;
  position: absolute;
  top: -60px;
  left: 70px;
  padding-left: 18px;
  width: 66px;
  height: 55px;
  line-height: 37px;
  color: #ff1e5e;
  font-size: 13px;
  background: url(../resources/images/bubble.svg) no-repeat;
  background-size: 100%;
  box-sizing: border-box;
}
.card__cont__item__skill__box .logo-tooltip.is-active {
  animation: logo-tooltip 3s;
  opacity: 0;
  z-index: 9;
}
@keyframes logo-tooltip {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
.card__cont__item__skill__box .progress {
  margin-top: 6px;
  margin-left: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  height: 7px;
  width: 90%;
  overflow: visible !important;
  position: relative;
  border-radius: 20px;
}
.card__cont__item__skill__box .progress-wrap {
  position: relative;
}
.card__cont__item__skill__box .progress-bar {
  animation: animate-cycle 2s;
  box-shadow: none;
  position: relative;
  height: 100%;
  border-radius: 20px;
  background: #8a84ff;
}
.card__cont__item__skill__box .progress-bar::after {
  content: "";
  background: url(../resources/images/rocket.svg) no-repeat;
  position: absolute;
  right: 0px;
  top: -16px;
  width: 15px;
  height: 36px;
  background-size: contain;
  opacity: 1;
  transform: rotate(80deg);
}
@-webkit-keyframes animate-cycle {
  0% {
    width: 0%;
  }
}
@keyframes animate-cycle {
  0% {
    width: 0%;
  }
}
.card__cont__item__skill__box .progress .counter {
  position: absolute;
  top: -19px;
  right: -16px;
  font-size: 10px;
}
.card__cont__item__skill__desc {
  margin-left: 30px;
  font-size: 14px;
  margin-top: 8px;
}
.card__cont__item--contact__box {
  margin-top: 20px;
}
.card__cont__item--contact__box dt {
  font-weight: 500;
  font-size: 16px;
}
.card__cont__item--contact__box dd {
  margin-bottom: 30px;
}
.card__cont__item--contact__box dd a {
  text-decoration: underline;
}
.card__tabs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 50px;
  background: #fff;
}
.card__tabs button {
  height: 100%;
  font-family: "Noto Sans KR";
  font-size: 13px;
  font-weight: 500;
}
.card__tabs button.is-active {
  color: #2b2c48;
  border-bottom: 3px solid #8a84ff;
  background: linear-gradient(to bottom, rgba(127, 199, 231, 0) 0%, rgba(207, 204, 255, 0.2) 44%, rgba(211, 226, 255, 0.4) 100%);
}

.box-gray {
  background: rgba(133, 133, 133, 0.1);
  border-radius: 6px;
  padding: 12px 12px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 28px;
}
@media (min-width: 770px) {
  .box-gray {
    border-radius: 8px;
  }
}

button[data-pop] {
  cursor: pointer;
}
button[data-pop]::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  top: 4px;
  right: -20px;
  background: url("../resources/images/btn-icon/arrow_8_white.svg") #484540 no-repeat center;
  border-radius: 100%;
  box-shadow: 0 5px 5px 0 rgba(108, 99, 63, 0.12);
  transition: transform 0.1s ease-in-out;
}
button[data-pop] span {
  text-decoration: underline;
  vertical-align: super;
}

/* popup */
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 9999;
}

.popup.is-active {
  display: block;
}

.popup:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.popup .pop-wrap {
  max-height: 80%;
  display: inline-block;
  width: 90%;
  height: 100%;
  vertical-align: middle;
  background: #fff;
  position: relative;
  z-index: 1;
}

.popup .pop-wrap.type-wide {
  width: 80%;
  text-align: left;
}

.popup .pop-wrap .pop-title {
  padding: 25px;
  border-bottom: 1px solid #b4b4b4;
  font-size: 35.94px;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popup .pop-wrap .pop-title span:last-child {
  cursor: pointer;
  align-self: center;
  display: inline-block;
  width: 31px;
  height: 31px;
  background: url(../img/btn_close_black@2x.png) no-repeat center/cover;
}

.popup > .pop-close {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}

.popup .pop-wrap .pop-title.type1 {
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.popup .pop-wrap .pop-title.type1 .close-btn {
  float: right;
}

/* pop-bbtn-box */
.pop-bbtn-box {
  font-size: 26.356px;
  color: #000;
  display: flex;
  justify-content: space-around;
}

.pop-bbtn-box > span {
  padding: 23.96px;
  border: 1px solid #222;
  width: 100%;
  cursor: pointer;
}

.pop-bbtn-box > span.span_bg_black {
  background: #222;
  color: #fff;
}

.pop-bbtn-box > span.span_bg_black:hover {
  background: #000;
}

.closeCont {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

.circle {
  width: 40px;
  height: 40px;
  background: transparent;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin: 10px 20px;
}

.circle:after {
  width: 24px;
  height: 4px;
  background-color: #444;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  position: absolute;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.circle:before {
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  width: 24px;
  height: 4px;
  background-color: #444;
  content: "";
  position: absolute;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.viewer {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #fff;
  box-sizing: border-box;
  max-width: 1800px;
  flex-direction: column-reverse;
}
@media (min-width: 770px) {
  .viewer {
    flex-direction: initial;
  }
}

.viewer .info {
  height: 250px;
  overflow: auto;
  padding: 20px;
  background: #efefef;
  box-sizing: border-box;
  font-family: "NotoSans";
  font-weight: 700;
  font-size: 14px;
  color: #666;
}
@media (min-width: 770px) {
  .viewer .info {
    width: 27%;
    height: 100%;
    flex-direction: initial;
    font-size: 16px;
  }
}

@media (min-width: 770px) {
  .viewer .info .disc {
    margin-top: 60px;
  }
}
.viewer .info .disc br {
  display: none;
}
@media (min-width: 770px) {
  .viewer .info .disc br {
    display: block;
  }
}

.disc span {
  display: block;
  color: #666;
  font-weight: 700;
}

.disc strong {
  display: block;
  color: #444;
  font-weight: 700;
  margin-top: 10px;
  text-align: left;
}

.disc ul {
  margin-top: 6px;
  text-align: left;
}
.disc ul li {
  font-size: 14px;
  list-style: disc;
  margin-left: 20px;
}

.viewer .body {
  position: relative;
  height: calc(100% - 250px);
  width: 100%;
}
@media (min-width: 770px) {
  .viewer .body {
    height: 100%;
    width: 73%;
  }
}

.viewer .body > div {
  overflow: auto;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.viewer .body img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: block;
}

.viewer h3 {
  color: #333;
  font-weight: 700;
}

.viewer p {
  text-align: left;
  word-break: keep-all;
  font-size: 14px;
  color: #222;
  margin-top: 12px;
}
@media (min-width: 770px) {
  .viewer p {
    margin: 20px 0;
    font-size: 16px;
  }
}

.viewer .info a {
  color: #666;
  font-size: 14px;
  text-align: left;
  display: block;
}

.viewer .info a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */